.wallpaper {
  font-family: 'Cormorant Garamond', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* inherit border-box on all elements in the universe and before and after
 */
  /* grid system -- mobile first! */
  /* Mobile Landscape Screen Sizes */
  /* Desktop screen Sizes */
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button */
}

.wallpaper *,
.wallpaper *:before,
.wallpaper *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wallpaper :root {
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
}

.wallpaper .head {
  background: none;
}

.wallpaper label {
  font-size: 1rem;
}

.wallpaper input {
  width: 30%;
}

.wallpaper h3 {
  text-align: center;
}

.wallpaper .row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);
}

.wallpaper [class*='col-'] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  background-color: transparent;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wallpaper .col-3,
  .wallpaper .col-3-6,
  .wallpaper .col-4,
  .wallpaper .col-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .wallpaper .col-9,
  .wallpaper .col-3-9,
  .wallpaper .col-6-3,
  .wallpaper .col-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .wallpaper .col-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .wallpaper .col-3,
  .wallpaper .col-3-6,
  .wallpaper .col-3-9 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .wallpaper .col-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .wallpaper .col-6,
  .wallpaper .col-6-3 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .wallpaper .col-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .wallpaper .col-10 {
    margin-left: 83.33333333%;
  }
  .wallpaper .col-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.wallpaper .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.wallpaper .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.wallpaper .close {
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wallpaper .close:hover,
.wallpaper .close:focus {
  color: #ff5656;
  text-decoration: none;
  cursor: pointer;
}

.wallpaper .input-style {
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.wallpaper button.addRowStyle {
  background-color: white;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 18px !important;
  color: black;
  border: 2px solid black;
  margin: 1%;
}
/*# sourceMappingURL=style.css.map */